<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiDomain" value="http://star.sandgate.cn/gateway/api"></add>
    <add key="AppId" value="552019122316425"></add>
    <add key="SubAppId" value="663101000032256"></add>
    <add key="PrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAKHBHZ4v9tqLPnBaIsy1T9KUFY3gupjL1QuUppmz8DHFtqxyrEr1PInyWnxnQiON5QxX7pj8g8Sqby8BymmLaIrECXbIiuOi0ZsSX6+/mbtvv8VcJdPmIvSsB/CpSi7FnwOtz3luCQ5HmzZbNBZmeWRkFtaM4hryMRP4hT7GqAdpAgMBAAECgYBffWLfvM8M60DcEMoUcUEDPnqO/EkL5OELaiEEAe7dYyvZGAVQZv/rK9BxOoAX/y9lnw9y7zdWxYrHhFYbArqeqEF1NX4XPBZLlLhLQXntsGLxtO7V8ypNrfOEF/SJpr0suJjjcOoL/XgJJusgfgJC4f9exChoeKr8/qSgJXSw1QJBANdIkoTyhiUo1GzPsY1Z2dS1kLF8abeAhh0AUe96O1EhbWnWNGv4I8uDZQ1o8Desq+hrralQa02cOFUW079JW48CQQDAWM/WjcevDPo2PbnAv8p1Ljoy/Eq0qgJbpgOpvFq8Y/8azK2g8MI0VuzX9WHETYZ6SmVuBqDjA+QoIOVwt9GHAkBTesO+I+EapbOBoiQCYNYUInfCKzE/Q+o9crNS/n3j3udzg+l9+JHAx+m2gnuryxw6Gw8TOajyRmKdtCVV5pdHAkAtrGkd32jNLl2zx5B2LpSaorF7LeFnaP9KV++CvJEnLu+Co5uPHdxfpUx0M3ZVsLsACu5u4/AMN/5TcQxKabu9AkEAjw9PFmuBnLIAw/2eZkSMTu2ZQ6tTzEFyHFGPO8BzuE4IQr63RReMVD2uj3I+HLK3C+XNq8R8D5GvRmf9gPLGuA=="></add>
    <add key="StoreId" value="100001"/>
    <add key="SignType" value="RSA"/>
    <add key="Format" value="json"/>
    <add key="Version" value="1.0"/>
  </appSettings>
</configuration>
